<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Random Number Generator</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Random Number Generator (Integer)</h1>
      </header>
      <div class="card">
        <div class="card-body">
          <form ccccmethod=post>
            <label for="min">Minimum number:</label><br>
            <input type="number" id="min" name="min" value="0"><br>
            <label for="max" selected>Maximum number:</label><br>
            <input type="number" id="max" name="max" value="3"><br><br>
            <input type="submit" value="Submit"><br><br>
          </form>
        </div>
        <div class="card-footer">
          <textarea
          readonly
          id="result"
          aria-label="Generated Number"
        ></textarea>
        </div>
      </div>
    </div>
  </body>
</html>