doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Random Number Generator
    link(rel='stylesheet' href='style.css')
  body
    .wrapper
      header
        h1 Random Number Generator (Integer)
      .card
        .card-body
          form(id='inputs' method='post')
            label(for='min' form='inputs') Minimum number:
            br
            input#min(type='number' name='min' value=min)
            br
            label(for='max' form='inputs') Maximum number:
            br
            input#max(type='number' name='max' value=max)
            br
            br
            input(type='submit' value='Submit')
            br
            br
        .card-footer
          textarea#message(readonly='true' aria-label='Status' title='Status') #{message}
          br
          br
          textarea#result(readonly='true' aria-label='Generated Number' title='Generated Number') #{result}
